<!DOCTYPE html>

<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Flashstudy: Cronograma de Estudos</title>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/ico" />
	
	<link th:href="@{/css/estudante-padrao.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/raiz/fonts.css}" rel="stylesheet" type="text/css" media="all" />
	
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
	
	<!-- Custom fonts for this template -->
	<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
	
	<!-- Plugin CSS -->
	<link th:href="@{/vendor/magnific-popup/magnific-popup.css}"
		rel="stylesheet" type="text/css" />
	
	<!-- Custom styles for this template -->
	<link type="text/css" th:href="@{/css/freelancer.min.css}"
		rel="stylesheet" />
	
	<script th:src="@{/js/jquery.min.js}"></script>
	
	<style type="text/css">
		body {
			background-color: #2C3E50;
		}
		
		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			border: 1px solid #ddd;
			margin: 10px 5px;
		}
		
		th, td {
			text-align: center;
			padding: 16px;
		}
		
		tr:nth-child(even) {
			background-color: #f2f2f2
		}
		
		tr:nth-child(odd) {
			background-color: #ffffff
		}
	</style>

</head>

<body>

	<!-- Script da página. Futuramente passar para arquivo separado -->
	<script type="text/javascript">//<![CDATA[

		/* Guarda o cronograma atual do usuário */
		var objCronograma = {};

		/* Guarda as disciplinas do cronograma */
		var disciplinas = [];
		
		$(document).ready(function(){

			/* Solicita o cronograma mais atual do usuário */
			$.get("cronograma/atual", function (cronograma) {
				objCronograma = cronograma;
	
				disciplinas = cronograma.disciplinas;
				
				if(cronograma.inicio != null){
					$("#minicio").val(cronograma.inicio);
					$("#mfim").val(cronograma.fim);

	                $("#mfim").prop("disabled", false);
	                $("#materia").prop("disabled", false);
					
				}

				var strDisciplina = "";
				
				for(i = 0; i < disciplinas.length; i++){
					addDisciplinasTbl(i)
                    
                    var assuntos = [];
                    
    				assuntos = disciplinas[i].assuntos;
    				
    				var strassunto = "";
    				
    				for(j = 0; j < assuntos.length; j++){
    					//strassunto += "<li>" + assuntos[i].tema + "</li>";
    					strassunto += "<li>" + j + "</li>";
        			}

    				strDisciplina = "<div class='card bg-secundary' title='Clique para editar as informações da matéria' id='"+disciplinas[i].codigo+"'>" +
    								"<div class='card-body text-center'> <h4 class='card-title'>" + disciplinas[i].nome + "</h4>"+
    								"<p class='card-text'> <ul>" + strassunto + "</ul></p></div></div>";
					$("#materiasDeck").append(strDisciplina);
    			}
				
            });


			/* Linhas da table de matérias */
			var rows = 0;

			/* Data atual */
			var date = new Date();

			/* data mínima para início do cronograma */
			var min = "" + date.getFullYear() + "-0" + (date.getMonth()+1);
			$("#minicio").prop("min", min);

			/* Verifica se o mês inicial foi selecionado */
			$("#minicio").change(function () {
                $("#mfim").prop("disabled", false);

				var dInicio = $("#minicio").val();

				var strano = dInicio.substring(0, 4);
				var strmes = dInicio.substring(6, 7);

				var intmes =  parseInt(strmes);

				$("#mfim").val("");
    			$("#mfim").prop("min", strano + "-0" + (intmes+1));
            });

            /* Habilita a digitação da matéria */
            $("#mfim").change(function () {
                $("#materia").prop("disabled", false);
            });

            /* Adiciona a matéria na tabela */
            $("#addMateria").click(function () {

                var row = rows++;
                
                if ($("#materia").val() !== "") {
                    $("#tblMaterias").append("<tr class='materia' id = 'r"+ row +"'><td class='nome'>" + $("#materia").val() + "</td></tr>");
                    if ($("#materias").val() === "")
                        $("#materias").val($("#materia").val());
                    else
                        $("#materias").val($("#materias").val() + ";" + $("#materia").val());
                    $("#materia").val("");
                } else {
                    alert("O campo está vazio!");
                }
            });

			/* Limpa a tabela ao fechar o modal */
            $("#btnCancelar").click(function () {
                $("#tblMaterias").empty();
                $("#tblMaterias").append("<tr><th>Matérias</tr></th>");

				for(i = 0; i < disciplinas.length; i++){
					addDisciplinasTbl(i);
				}
                
            });

            /* Confirma e salva/atualiza o cronograma */
            $("#btnConfirma").click(function(){
				if($("#tblMaterias tr").length > 1){

					var rows = $('#tblMaterias tr').length -1;

					if(rows == disciplinas.length){
						alert("Nenhuma alteração foi feita!");
					}

					console.log(rows);
					console.log(disciplinas.length);
					
					/* 
					$("tr.materia").each(function() {
						$this = $(this);
						var disciplina ={nome: $this.find("td.nome").html()};

						arrdisciplinas.push(disciplina);
						  
					});

					var cronograma = {inicio : $("#minicio").val(),
										fim : $("#mfim").val(),
										disciplinas : arrdisciplinas};
					
					$.ajax({
	                    type: "POST",
	                    cache: false,
	                    contentType: "application/json",
	                    url: "/cronograma/salvar",
	                    data: JSON.stringify(cronograma),
	                    dataType: "json",
	                    success: function (resposta) {
	                        window.location.replace("cronograma");
	                    } 
	                }); */ 
				}
            });
		});

		function addDisciplinasTbl(i){
            $("#tblMaterias").append("<tr class='materia' id = 'r"+ i +"'><td class='nome'>" + disciplinas[i].nome + "</td></tr>");
		}
		
	//]]></script>

	<!-- Menu de navegação -->
	<nav class="navbar navbar-expand-lg navbar-light bg-primary rounded">
	
		<a 	class="navbar-brand h1 mb-0 icon icon-group"
			href="inicial">
			 FlashStudy
		</a>
		
		<button class="navbar-toggler" 
				type="button" 
				data-toggle="collapse"
				data-target="#navbarNavAltMarkup" 
				aria-controls="navbarNavAltMarkup"
				aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			
			<div class="navbar-nav ml-auto">
				<a 	class="nav-item nav-link icon icon-calendar"
					href="cronograma" 
					style="color: #383838">
					 Cronograma
				</a> 
				
				<a  class="nav-item nav-link icon icon-refresh link"
					href="ciclo"
					style="color: #383838">
					 Ciclo de estudos 
				</a>
				
				<a 	class="nav-item nav-link icon icon-pushpin"
					href="flashcards" 
					style="color: #383838">
					 Flashcards 
				</a>
				
				<a 	class="nav-item nav-link icon icon-user"
					href="perfil" 
					style="color: #383838">
					 Perfil 
				</a> 
				
				<a	class="nav-item nav-link icon icon-question-sign"
					href="ajuda"
					style="color: #383838">
					 Ajuda 
				</a> 
				
				<a	class="nav-item nav-link icon icon-signout"
					href="usuario/sair"
					style="color: #383838">
					 Sair 
				</a>
			
			</div>
		</div>
	</nav>

	<!-- Título da página -->
	<div class="title">
		<h2 class="icon icon-calendar" style="color: #cccccc">Cronograma</h2>
		<span class="byline" style="color: #cccccc"> Calendário com
			todos os seus planejamentos </span>
	</div>

	<!-- Container da página toda -->
	<div class="container">

		<div class="jumbotron">

			<button type="button" class="btn btn-primary" data-toggle="modal"
				data-target=".bd-example-modal" style="margin-bottom: 10px">
				<span class="icon icon-edit"> Editar Cronograma</span>
			</button>

			<!-- Modal de edição das matérias -->
			<div class="modal fade bd-example-modal" tabindex="-1" role="dialog"
				 aria-labelledby="myModalLabel" aria-hidden="true">

				<div class="modal-dialog">

					<div class="modal-content">

						<!-- Cabeçalho -->
						<div class="modal-header">
							<h4 class="modal-title">Cronograma</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Corpo -->
						<div class="modal-body">

							<div class="form-row">
								
								<!-- Mês inicial do cronograma -->
								<div class="form-group col-md-6">
									<label for="mInicio">Selecione o mês inicial:</label> 
									<input class="form-control rounded" type="month" id="minicio" name="minicio" />
								</div>

								<!-- Mês final do cronograma -->
								<div class="form-group col-md-6">
									<label for="mFim">Selecione o mês final:</label> 
									<input class="form-control rounded" type="month" id="mfim" name="mfim" disabled="disabled" />
								</div>

							</div>

							<div class="form-group">
							
								<!-- Campo para o nome da matéria -->
								<label for="materia"><strong>Matéria:</strong></label> 
								<input 	type="text" style="width: 100%" class="form-control"
										id="materia" placeholder="Nome da matéria" name="materia"
										disabled="disabled" />
							</div>
							
							<!-- Adiciona a matéria na tabela -->
							<button type="button" class="btn btn-primary" id="addMateria" style="width: 100%">
								<span class="icon icon-plus-sign"> Adicionar matéria</span>
							</button>
							
							<!-- Tabela com as matérias -->
							<table id="tblMaterias">
								<tr>
									<th colspan="2">Matérias</th>
								</tr>
							</table>
						</div>

						<!-- Rodapé -->
						<div class="modal-footer">
							
							<!-- Salva/atualiza o cronograma -->
							<button type="button" id="btnConfirma" class="btn btn-success">Confirmar</button>

							<!-- Fecha o modal -->
							<button type="button" class="btn btn-danger" id="btnCancelar"
									data-toggle="modal" data-target=".bd-example-modal">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Fim modal -->
			
			<!-- Matérias e assuntos -->
			<div class="card-deck" id="materiasDeck"></div>
		</div>

	</div>

	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Plugin JavaScript -->
	<script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>

	<!-- Contact Form JavaScript -->
	<script type="text/javascript" th:src="@{/js/jqBootstrapValidation.js}"></script>
	<script type="text/javascript" th:src="@{/js/contact_me.js}"></script>

	<!-- Custom scripts for this template -->
	<script type="text/javascript" th:src="@{/js/freelancer.min.js}"></script>
</body>
</html>