<!DOCTYPE html>

<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Flashstudy: Cronograma de Estudos</title>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/ico" />
	
	<link th:href="@{/css/estudante-padrao.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/raiz/fonts.css}" rel="stylesheet" type="text/css" media="all" />
	
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
	
	<!-- Custom fonts for this template -->
	<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
	
	<!-- Plugin CSS -->
	<link th:href="@{/vendor/magnific-popup/magnific-popup.css}"
		rel="stylesheet" type="text/css" />
	
	<!-- Custom styles for this template -->
	<link type="text/css" th:href="@{/css/freelancer.min.css}"
		rel="stylesheet" />
	
	<script th:src="@{/js/jquery.min.js}"></script>
	
	<style type="text/css">
		body {
			background-color: #2C3E50;
		}
		
		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			border: 1px solid #ddd;
			margin: 10px 5px;
		}
		
		th, td {
			text-align: center;
			padding: 16px;
		}
		
		tr:nth-child(even) {
			background-color: #f2f2f2
		}
		
		tr:nth-child(odd) {
			background-color: #ffffff
		}
	</style>

</head>

<body>

	<!-- Script da página. Futuramente passar para arquivo separado -->
	<script type="text/javascript">//<![CDATA[

		$(document).ready(function(){

			/* Guarda o cronograma atual do usuário */
			var objCronograma = {};

			/* Guarda as disciplinas do cronograma */
			var disciplinas = [];

			/* Materia selecionada para edição */
			var materiaSelecionada = {};

			/* Assuntos da materia selecionada */
			var assuntos = [];
			
			/* Solicita o cronograma mais atual do usuário */
			$.get("cronograma/atual", function (cronograma) {
				objCronograma = cronograma;
				
				disciplinas = cronograma.disciplinas;

				if(disciplinas == null){
					disciplinas = [];
					objCronograma = {inicio: "", fim: "", disciplinas: disciplinas}
				}
				
				if(cronograma.inicio != null){
					$("#minicio").val(cronograma.inicio);
					$("#mfim").val(cronograma.fim);

	                $("#mfim").prop("disabled", false);
	                $("#materia").prop("disabled", false);
					
				}

				var strDisciplina = "";
				
				for(i = 0; i < disciplinas.length; i++){
					addDisciplinasTbl(i)
                    
    				assuntos = disciplinas[i].assuntos;
    				
    				var strassunto = "";
    				
    				for(j = 0; j < assuntos.length; j++){
    					strassunto += "<div class='form-group row'>" +
    									"<input type='text' readonly='readonly' class='form-control' value='" + assuntos[j].tema + "'/></div>";
        			}
    				
					
    				strDisciplina = "<div class='card bg-secundary' title='Clique para editar as informações da matéria'>" +
    								"<div class='card-body text-center'> <h4 class='card-title'>" + disciplinas[i].nome + "</h4>"+
    								"<p class='card-text'>" + strassunto + "<button type='button' class='btn btn-dark btnMateria' value='" + i + 
    								"' style='width: 100%' data-toggle='modal' data-target='#modalMateria'>Editar</button></p></div></div>";
					$("#materiasDeck").append(strDisciplina);
    			}
				
            });


			/* Linhas da table de matérias */
			var rows = 0;

			/* Data atual */
			var date = new Date();

			/* data mínima para início do cronograma */
			var min = "" + date.getFullYear() + "-0" + (date.getMonth()+1);
			$("#minicio").prop("min", min);

			/* Verifica se o mês inicial foi selecionado */
			$("#minicio").change(function () {
                $("#mfim").prop("disabled", false);

				var dInicio = $("#minicio").val();

				var strano = dInicio.substring(0, 4);
				var strmes = dInicio.substring(6, 7);

				var intmes =  parseInt(strmes);

				$("#mfim").val("");
    			$("#mfim").prop("min", strano + "-0" + (intmes+1));
            });

            /* Habilita a digitação da matéria */
            $("#mfim").change(function () {
                $("#materia").prop("disabled", false);
            });

            /* Adiciona a matéria na tabela */
            $("#addMateria").click(function () {

                var row = rows++;
                
                if ($("#materia").val() !== "") {
                    $("#tblMaterias").append("<tr class='materia' id = 'r"+ row +"'><td class='nome'>" + $("#materia").val() + "</td></tr>");
                    if ($("#materias").val() === "")
                        $("#materias").val($("#materia").val());
                    else
                        $("#materias").val($("#materias").val() + ";" + $("#materia").val());
                    $("#materia").val("");
                } else {
                    alert("O campo está vazio!");
                }
            });

			/* Limpa a tabela ao fechar o modal */
            $("#btnCancelar").click(function () {
                $("#tblMaterias").empty();
                $("#tblMaterias").append("<tr><th>Matérias</tr></th>");

				for(i = 0; i < disciplinas.length; i++){
					addDisciplinasTbl(i);
				}
                
            });

			/* Limpa as tabelas ao fechar o modal */
            $(".btnCancelar").click(function () {
                $("#tblMaterias").empty();
                $("#tblMaterias").append("<tr><th>Matérias</tr></th>");

				for(i = 0; i < disciplinas.length; i++){
					addDisciplinasTbl(i);
				}

                $("#tblAssuntos").empty();
                $("#tblAssuntos").append("<tr><th>Assuntos</tr></th>");

            });
			
            /* Confirma e salva/atualiza o cronograma */
            $("#btnConfirma").click(function(){
				if($("#tblMaterias tr").length > 1){

					var arrDisciplinas =[];

					$("tr.materia").each(function() {
						$this = $(this);
						var disciplina ={nome: $this.find("td.nome").html()};

						arrDisciplinas.push(disciplina);
					});

					if(arrDisciplinas.length == disciplinas.length){
						alert("Nenhuma alteração foi feita nas disciplinas!");
					}else{
						if(disciplinas.length == 0){
							disciplinas = arrDisciplinas;
						}else{
							var contador = disciplinas.length;
							
							for(; contador < arrDisciplinas.length; contador++){
								disciplinas.push(arrDisciplinas[contador]);	
							}
						}
					}
					
					objCronograma.inicio = $("#minicio").val();
					objCronograma.fim = $("#mfim").val();
					objCronograma.disciplinas = disciplinas;
					
					$.ajax({
	                    type: "POST",
	                    cache: false,
	                    contentType: "application/json",
	                    url: "/cronograma/salvar",
	                    data: JSON.stringify(objCronograma),
	                    dataType: "json",
	                    success: function (resposta) {
	                        window.location.replace("cronograma");
	                    } 
	                });
				}
            });

			/* ----------------------------- */
			/*  Funções do modal da matéria  */
			/* ----------------------------- */
            
			/* Adiciona as disciplinas na tabela */
            function addDisciplinasTbl(i){
                $("#tblMaterias").append("<tr class='materia' id = 'r"+ i +"'><td class='nome'>" + disciplinas[i].nome + "</td></tr>");
    		}
    		
            /* Adiciona o novo assunto na tabela */
            $("#addAssunto").click(function () {

                if ($("#assunto").val() !== "") {
                    $("#tblAssuntos").append("<tr class='assunto'><td class='tema'>" + $("#assunto").val() + "</td></tr>");

                    $("#assunto").val("");
                } else {
                    alert("O campo está vazio!");
                }
            });

            /* Inicializa o modal da matéria selecionada */
            $( "#materiasDeck" ).on( "click", ".btnMateria", function() {
           		materiaSelecionada = disciplinas[$(this).attr("value")];

				var nome = materiaSelecionada.nome;
            	
            	$("#nomeMateria").html(nome);

				assuntos = materiaSelecionada.assuntos;

          		for(i = 0; i < assuntos.length; i++){
                    $("#tblAssuntos").append("<tr class='assunto'><td class='tema'>" + assuntos[i].tema + "</td></tr>");					
	            }
            });

            /* Confirma e salva/atualiza os assuntos da materia */
           	$("#btnSalvaAssunto").click(function(){
				if($("#tblAssuntos tr").length > 1){

					var arrAssuntos =[];
					
					$("tr.assunto").each(function() {
						$this = $(this);
						var assunto ={tema: $this.find("td.tema").html()};

						arrAssuntos.push(assunto);
					});

					if(arrAssuntos.length == assuntos.length){
						alert("Nenhuma alteração foi feita nos assuntos!");
					}else{
						if(assuntos.length == 0){
							assuntos = arrAssuntos;
						}else{
							var contador = assuntos.length;
							
							for(; contador < arrAssuntos.length; contador++){
								assuntos.push(arrAssuntos[contador]);	
							}
						}
					}

					var disciplina = {	codigo: materiaSelecionada.codigo,
										nome: materiaSelecionada.nome,
										assuntos: assuntos,
										usuario: materiaSelecionada.usuario};

					$.ajax({
	                    type: "POST",
	                    cache: false,
	                    contentType: "application/json",
	                    url: "/disciplina/salvar",
	                    data: JSON.stringify(disciplina),
	                    dataType: "json",
	                    success: function (resposta) {
	                        window.location.replace("cronograma");
	                    } 
	                });
				}
            });
		});
		
	//]]></script>

	<!-- Menu de navegação -->
	<nav class="navbar navbar-expand-lg navbar-light bg-primary rounded">
	
		<a 	class="navbar-brand h1 mb-0 icon icon-group"
			href="inicial">
			 FlashStudy
		</a>
		
		<button class="navbar-toggler" 
				type="button" 
				data-toggle="collapse"
				data-target="#navbarNavAltMarkup" 
				aria-controls="navbarNavAltMarkup"
				aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			
			<div class="navbar-nav ml-auto">
				<a 	class="nav-item nav-link icon icon-calendar"
					href="cronograma" 
					style="color: #383838">
					 Cronograma
				</a> 
				
				<a  class="nav-item nav-link icon icon-refresh link"
					href="ciclo"
					style="color: #383838">
					 Ciclo de estudos 
				</a>
				
				<a 	class="nav-item nav-link icon icon-pushpin"
					href="flashcards" 
					style="color: #383838">
					 Flashcards 
				</a>
				
				<a 	class="nav-item nav-link icon icon-user"
					href="perfil" 
					style="color: #383838">
					 Perfil 
				</a> 
				
				<a	class="nav-item nav-link icon icon-question-sign"
					href="ajuda"
					style="color: #383838">
					 Ajuda 
				</a> 
				
				<a	class="nav-item nav-link icon icon-signout"
					href="usuario/sair"
					style="color: #383838">
					 Sair 
				</a>
			
			</div>
		</div>
	</nav>

	<!-- Título da página -->
	<div class="title">
		<h2 class="icon icon-calendar" style="color: #cccccc">Cronograma</h2>
		<span class="byline" style="color: #cccccc"> Calendário com
			todos os seus planejamentos </span>
	</div>

	<!-- Container da página toda -->
	<div class="container">

		<div class="jumbotron">

			<button type="button" class="btn btn-primary" data-toggle="modal"
				data-target=".bd-example-modal" style="margin-bottom: 10px">
				<span class="icon icon-edit"> Editar Cronograma</span>
			</button>

			<!-- Matérias e assuntos -->
			<div class="card-columns" id="materiasDeck"></div>
				
			
		</div>

	</div>
	
	<!-- Modals -->
	<div class="container">
	
		<!-- Modal de edição do cronograma -->
		<div class="modal fade bd-example-modal" tabindex="-1" role="dialog"
			 aria-labelledby="myModalLabel" aria-hidden="true">

			<div class="modal-dialog">

				<div class="modal-content">

					<!-- Cabeçalho -->
					<div class="modal-header">
						<h4 class="modal-title">Cronograma</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Corpo -->
					<div class="modal-body">

						<div class="form-row">
								
							<!-- Mês inicial do cronograma -->
							<div class="form-group col-md-6">
								<label for="mInicio">Selecione o mês inicial:</label> 
								<input class="form-control rounded" type="month" id="minicio" name="minicio" />
							</div>

							<!-- Mês final do cronograma -->
							<div class="form-group col-md-6">
								<label for="mFim">Selecione o mês final:</label> 
								<input class="form-control rounded" type="month" id="mfim" name="mfim" disabled="disabled" />
							</div>

						</div>

						<div class="form-group">
							
							<!-- Campo para o nome da matéria -->
							<label for="materia"><strong>Matéria:</strong></label> 
							<input 	type="text" style="width: 100%" class="form-control"
									id="materia" placeholder="Nome da matéria" name="materia"
									disabled="disabled" />
						</div>
							
						<!-- Adiciona a matéria na tabela -->
						<button type="button" class="btn btn-primary" id="addMateria" style="width: 100%">
							<span class="icon icon-plus-sign"> Adicionar matéria</span>
						</button>
							
						<!-- Tabela com as matérias -->
						<table id="tblMaterias">
							<tr>
								<th colspan="2">Matérias</th>
							</tr>
						</table>
					</div>

					<!-- Rodapé -->
					<div class="modal-footer">
							
						<!-- Salva/atualiza o cronograma -->
						<button type="button" id="btnConfirma" class="btn btn-success">Confirmar</button>

						<!-- Fecha o modal -->
						<button type="button" class="btn btn-danger btnCancelar"
								data-toggle="modal" data-target=".bd-example-modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Fim modal -->
	
		<!-- Modal da materia selecionada -->
		<div class="modal fade" tabindex="-1" role="dialog"
			 aria-labelledby="myModalLabel" aria-hidden="true" id="modalMateria">

			<div class="modal-dialog">

				<div class="modal-content">

					<!-- Cabeçalho -->
					<div class="modal-header">
						<h4 class="modal-title" id="nomeMateria"></h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Corpo -->
					<div class="modal-body">

						<div class="form-group">
							
							<!-- Campo para o tema do assunto -->
							<label for="Assunto"><strong>Assunto:</strong></label> 
							<input 	type="text" style="width: 100%" class="form-control"
									id="assunto" name="assunto"/>
						</div>
							
						<!-- Adiciona o assunto na tabela -->
						<button type="button" class="btn btn-primary" id="addAssunto" style="width: 100%">
							<span class="icon icon-plus-sign"> Adicionar assunto</span>
						</button>
							
						<!-- Tabela com os assuntos -->
						<table id="tblAssuntos">
							<tr>
								<th colspan="2">Assuntos</th>
							</tr>
						</table>
					</div>

					<!-- Rodapé -->
					<div class="modal-footer">
							
						<!-- Salva/atualiza a matéria -->
						<button type="button" id="btnSalvaAssunto" class="btn btn-success">Confirmar</button>

						<!-- Fecha o modal -->
						<button type="button" class="btn btn-danger btnCancelar"
								data-toggle="modal" data-target="#modalMateria">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Fim modal -->
	</div>
	
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Plugin JavaScript -->
	<script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>

	<!-- Contact Form JavaScript -->
	<script type="text/javascript" th:src="@{/js/jqBootstrapValidation.js}"></script>
	<script type="text/javascript" th:src="@{/js/contact_me.js}"></script>

	<!-- Custom scripts for this template -->
	<script type="text/javascript" th:src="@{/js/freelancer.min.js}"></script>
</body>
</html>