<!DOCTYPE html>

<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Flashstudy: Flashcards</title>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/ico"/>
	
	<link th:href="@{/css/estudante-padrao.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/raiz/fonts.css}" rel="stylesheet" type="text/css" media="all" />
	
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
	
	<!-- Custom fonts for this template -->
	<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
	
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
	
	<!-- Plugin CSS -->
	<link th:href="@{/vendor/magnific-popup/magnific-popup.css}" rel="stylesheet" type="text/css" />
	
	<!-- Custom styles for this template -->
	<link type="text/css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
	
	<script th:src="@{/js/jquery.min.js}"></script>
	
	<style type="text/css">
	#area {
		height: 100%;
	}
	
	#flash1 {
		background-color: cadetblue;
		width: 80%;
		height: 250px;
		margin: auto;
		margin-bottom: 20px;
		padding: 5px;
	}
	
	#flash2 {
		background-color: lightgreen;
		width: 80%;
		height: 250px;
		margin: auto;
		margin-bottom: 20px;
		padding: 5px;;
	}
	
	#resposta {
		height: 240px;
	}
	
	#pergunta {
		height: 180px;
	}
	
	.jumbotron {
		height: 100%;
	}
	
	.btn-group-wrap {
		text-align: center;
	}
	
	div.btn-group {
		margin: 0 auto;
		text-align: center;
		width: inherit;
	}
	
	a {
		float: left;
	}
	
	form {
		padding-top: 15px;
	}
	
	h4 {
		padding: auto;
		margin-left: 50px;
	}
	
	body {
		background-color: #2C3E50;
	}
	</style>
</head>

<body>
	
	<!-- Script da página. Futuramente passar para arquivo separado -->
	<script type="text/javascript">//<![CDATA[
		$(document).ready(function(){

			/* Flashcards cadastrados pelo usuário */
			var flashcards = [];
			
			/* Disciplinas cadastradas pelo usuário */
			var arrDisciplinas = [];

			/* Assuntos da disciplina selecionada */
			var assuntos = [];

			/* Flashcard selecionado para visualização */
			var cardSelecionado = {};
			
			/* Envia requisição para listar todos os flashcards */
			$.get("flashcard/lista", function (cards) {
				var strCard;

				flashcards = cards;
				
				for( i = 0; i < cards.length; i++){
					var privacidade = "";
					if(cards[i].publico)
						privacidade = "Público";
					else
						privacidade = "Privado";
					 
					strCard = "<div class='col-lg-12 col-md-12 col-sm-9' style='margin-top: 5px'>" +
								"<div class='card align-self-center' style='width: 18rem;'>" +
									"<div class='card-body'>" +
										"<h5 class='card-title'>" + cards[i].titulo + "</h5>" +
										"<p class='card-text'>"+
											"<ul>" +
												"<li>Nível: "+ cards[i].nivel +"</li>" +
												"<li>Situação:" + privacidade + " </li>" +
												"<li>Disciplina: "+ cards[i].disciplina.nome +" </li>" +
												"<li>Assunto: " + cards[i].assunto.tema + " </li>" +
											"</ul>" +
											"<button type='button' class='btn btn-dark btnSeleciona' value = '" + i +"' style='width: 100%'>Selecionar</button>"+	
										"</p>" +
									"</div>" +
								"</div>" +
							"</div>";

					$("#cardsRow").append(strCard);	
				}
            });

			/* Adiciona as disciplinas ao select */
			$.get("disciplina/lista", function(disciplinas){
				arrDisciplinas = disciplinas;

				for(i = 0; i < arrDisciplinas.length; i++){
					strDisciplina = "<option value='" + i +"'>" + arrDisciplinas[i].nome + "</option>"
					$("#selectMaterias").append(strDisciplina);
				}
			});
			
            /* Salva o novo flashcard */
			$("#btnSalvar").click(function(){
				if(verificaCampos()){
					var publico = true;
					if($("#selectPublico").val() == "true")
						publico = true;
					else
						publico = false;

					var card = { titulo: $("#titulo").val(),
								 pergunta: $("#pergunta").val(),
								 resposta: $("#resposta").val(),
								 nivel: $("#selectNivel").val(),
								 publico: publico,
								 disciplina: arrDisciplinas[$("#selectMaterias").val()],
								 assunto: assuntos[$("#selectAssuntos").val()]};

					console.log(card);
					$.ajax({
	                    type: "POST",
	                    cache: false,
	                    contentType: "application/json",
	                    url: "/flashcard/salvar",
	                    data: JSON.stringify(card),
	                    dataType: "json",
	                    success: function (resposta) {
	                        window.location.replace("flashcards");
	                    } 
	                });
				}else{
				}
			});

			/* Adiciona os assuntos no select */
			$("#selectMaterias").change(function(){
                $("#selectAssuntos").prop("disabled", false);

                $("#selectAssuntos").empty();
                $("#selectAssuntos").append("<option value='default'>Escolha um assunto</option>");
				
				var pos = $("#selectMaterias").val();

				assuntos = arrDisciplinas[pos].assuntos;
				for(i = 0; i < assuntos.length; i++){
					strAssunto = "<option value='" + i + "'>" + assuntos[i].tema + "</option>"
					 $("#selectAssuntos").append(strAssunto);
				}
			});

			/* Popula os campos com o card selecionado */
	        $( "#cardsRow" ).on( "click", ".btnSeleciona", function() {
	       		cardSelecionado = flashcards[$(this).attr("value")];
				console.log("entrou na funcao");
	       		$("#titulo").val(cardSelecionado.titulo);
	       		$("#pergunta").val(cardSelecionado.pergunta);
	       		$( "#selectMaterias option:selected" ).text(cardSelecionado.disciplina.nome);
	       		$( "#selectAssuntos option:selected" ).text(cardSelecionado.assunto.tema);
	       		$( "#selectNivel option:selected" ).text(cardSelecionado.nivel);
	       		$( "#selectPublico option:selected" ).text(cardSelecionado.publico);
				
	        });
		});

		/* Verifica se há algum campo vazio */
		function verificaCampos(){
			var titulo 	 = $("#titulo").val();
			var pergunta = $("#pergunta").val();
			var resposta = $("#resposta").val();

			var materia = $("#selectMaterias").val();
			var assunto = $("#selectAssuntos").val();
			var dificuldade = $("#selectNivel").val();
			var publico = $("#selectPublico").val();
			
			if((titulo === "") || (pergunta === "") || (resposta=== "")){
				alert("Algum campo não foi preenchido!");
				return false;
			}else{
				if((materia == "default") || (assunto == "default") || (dificuldade == "default") || (publico == "default")){
					alert("Seleção inválida!");
					return false;
				}
				return true;
			}
		}

		 //]]></script>

	<!-- Menu de navegação -->
	<nav class="navbar navbar-expand-lg navbar-light bg-primary rounded">
	
		<a 	class="navbar-brand h1 mb-0 icon icon-group"
			href="inicial">
			 FlashStudy
		</a>
		
		<button class="navbar-toggler" 
				type="button" 
				data-toggle="collapse"
				data-target="#navbarNavAltMarkup" 
				aria-controls="navbarNavAltMarkup"
				aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			
			<div class="navbar-nav ml-auto">
				<a 	class="nav-item nav-link icon icon-calendar"
					href="cronograma" 
					style="color: #383838">
					 Cronograma
				</a> 
				
				<a  class="nav-item nav-link icon icon-refresh link"
					href="ciclo"
					style="color: #383838">
					 Ciclo de estudos 
				</a>
				
				<a 	class="nav-item nav-link icon icon-pushpin"
					href="flashcards" 
					style="color: #383838">
					 Flashcards 
				</a>
				
				<a 	class="nav-item nav-link icon icon-user"
					href="perfil" 
					style="color: #383838">
					 Perfil 
				</a> 
				
				<a	class="nav-item nav-link icon icon-question-sign"
					href="ajuda"
					style="color: #383838">
					 Ajuda 
				</a> 
				
				<a	class="nav-item nav-link icon icon-signout"
					href="usuario/sair"
					style="color: #383838">
					 Sair 
				</a>
			
			</div>
		</div>
	</nav>

	<!-- Título da página -->
	<div class="title">
		<h2 class="icon icon-pushpin" style="color: #cccccc">Flashcards</h2>
		<span class="byline" style="color: #cccccc">
			Crie e edite todos os seus flashcards
		</span>
	</div>

	<!-- Container com os dados do flashcard -->
	<div class="container" id="area">
	 	
		<div class="jumbotron">
	    	
	    	<!-- Menu de botões de ação -->
	    	<div class="row justify-content-center">
	    	
		    	<div class="col-lg-6 col-md-9 col-sm-12">
		        	
		        		<div class="btn-btn-toolbar mb-3" role="toolbar" aria-label="Menu com botoes">
			
							<div class="btn-group mr-1" role="group" aria-label="Primeiro grupo">
						    	
						    	<!-- Salvar o flashcard -->
						    	<button type="button" 
						    			class="btn btn-success" 
						    			title="Salvar" 
						    			id="btnSalvar">
						    			<span class="icon icon-save"> Salvar</span>
						    	</button>
						    	
						    	<!-- Editar o card selecionado -->
						    	<button type="button" 
						    			class="btn btn-info" 
						    			title="Editar card selecionado" 
						    			id="btnSalvar"
						    			disabled="disabled">
						    			<span class="icon icon-edit"> Editar</span>
						    	</button>
						    	
						    	<!-- Deletar o card selecionado -->
						    	<button type="button" 
						    			class="btn btn-danger" 
						    			title="Deletar card selecionado" 
						    			id="btnSalvar"
						    			disabled="disabled">
						    			<span class="icon icon-trash"> Deletar</span>
						    	</button>
						    	
						    	<!-- Visualizar a resposta do flashcard selecionado -->
						    	<button type="button" 
						    			class="btn btn-warning" 
						    			title="Visualizar a resposta"
						    			id="btnSalvar"
						    			disabled="disabled">
						    			<span class="icon icon-plus-sign"> Resposta</span>
						    	</button>
						    	
						    	<!-- Limpar os campos para novo flashcard -->
						    	<button type="button" 
						    			class="btn btn-primary" 
						    			title="Limpar campos para novo card" 
						    			id="btnSalvar">
						    			<span class="icon icon-plus-sign"> Novo</span>
						    	</button>
						    	
						  	</div>
						  							  	
						</div>
		        	</div>
		    	</div>
		    	
		    	<div class="row justify-content-center">
		    		<div class="col-lg-3 col-md-5 col-sm-10 col-10">
			    		<div class="form-group">
				        	<select id="selectMaterias" name="selectMaterias" class="form-control bg-gray">
				        		<option value="default">Escolha uma matéria</option>
				        		</select>
			           		</div>
			    		</div>
		    		<div class="col-lg-3 col-md-5 col-sm-10 col-10">
		    			<div class="form-group">
			        		<select id="selectAssuntos" name="selectAssuntos" class="form-control" disabled="disabled">
			        			<option value="default">Escolha um assunto</option>
			        		</select>
		        		</div>
		    		</div>
		    		<div class="col-lg-3 col-md-5 col-sm-10 col-10">
		    			<div class="form-group">
			        		<select id="selectNivel" name="selectNivel" class="form-control">
			        			<option value="default">Dificuldade</option>
			        			<option value="1">Fácil</option>
			        			<option value="2">Médio</option>
			        			<option value="3">Difícil</option>
			        		</select>
		        		</div>
		    		</div>
		    		<div class="col-lg-3 col-md-5 col-sm-10 col-10">
		    			<div class="form-group">
			        		<select id="selectPublico" name="selectPublico" class="form-control">
			        			<option value="default">Privacidade</option>
			        			<option value="true" title = "Outras pessoas poderão ver o seu flashcard">Público</option>
			        			<option value="false" title = "Somente você terá acesso ao flashcard">Privado</option>
			        		</select>
		        		</div>
		    		</div>
		    	</div>
		   		<div class="row">
		        	
		        	<!-- Título e pergunta do flashcard -->
		        	<div class="col-lg-6 col-md-6 col-sm-12">
		            	
		            	<div class="display-4">
		                	<h4>Pergunta</h4>
		                </div>
		                
		                <div class="jumbotron" id="flash1">
		                
		                	<div class="form-group">
		                    	<input 	type="text" 
		                    			class="form-control" 
		                    			id="titulo" 
		                    			placeholder="Título do flashcard" 
		                    			name="titulo"/>
		                    </div>
		                    
		                    <div class="form-group">
		                    	<textarea 	class="form-control" 
		                    				placeholder="Insira a sua pergunta aqui" 
		                    				id="pergunta" 
		                    				name="pergunta"></textarea>
		                    </div>
		                </div> 
		           	</div>
		           	
		           	<!-- Resposta do flashcard -->
		           	<div class="col-lg-6 col-md-6 col-sm-12">
		           	
		           		<div class="display-4">
		                	<h4>Resposta</h4>
		                </div>
		        
		                <div class="jumbotron" id="flash2">
		                	<div class="form-group">
		                    	<textarea 	class="form-control" 
		                        			placeholder="Insira a sua resposta aqui" 
		                        			id="resposta" 
		                        			name="resposta"></textarea>
		                    </div>
		                </div>
		            </div>    
		        </div><!-- Fim row -->
		</div><!-- Fim jumbotron -->
	</div><!-- Fim container -->
	
	<!-- Container com todos os flashcards cadastrados -->
	<div class="container" id="containerFlashcards">

		<div class="jumbotron">
			
			<div class="title">
				<h2>Seus flashcards</h2>
			</div>
			
			<div class="row justify-content-center" id="cardsRow">
			
			</div>
		</div>
	</div>


		
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Plugin JavaScript -->
	<script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>

	<!-- Contact Form JavaScript -->
	<script type="text/javascript" th:src="@{/js/jqBootstrapValidation.js}"></script>
	<script type="text/javascript" th:src="@{/js/contact_me.js}"></script>

	<!-- Custom scripts for this template -->
	<script type="text/javascript" th:src="@{/js/freelancer.min.js}"></script>

</body>
</html>