<!DOCTYPE html>

<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Flashstudy: Perfil</title>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/ico" />
	
	<link th:href="@{/css/estudante-padrao.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/raiz/fonts.css}" rel="stylesheet" type="text/css" media="all" />
	
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
	
	<!-- Custom fonts for this template -->
	<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
	
	<!-- Plugin CSS -->
	<link th:href="@{/vendor/magnific-popup/magnific-popup.css}" rel="stylesheet" type="text/css" />
	
	<!-- Custom styles for this template -->
	<link type="text/css" th:href="@{/css/freelancer.min.css}" rel="stylesheet" />
	
	<script th:src="@{/js/jquery.min.js}"></script>
	
	<style type="text/css">
		body {
			background-color: #2C3E50;
		}
		
		.btn{
			width: 100%;
		}
	</style>
</head>

<body>

	<script type="text/javascript">//<![CDATA[
		$(document).ready(function(){

			/* Usuário logado */
			var usuarioLogado = {};

			$.get("usuario/logado", function (usuario) {

				usuarioLogado = usuario;

				$("#txtNome").prop("value", usuario.nome);
				$("#txtEmail").prop("value", usuario.email);
            });

			/* Habilita os campos para edição */
            $("#btnEdit").click(function(){
				$("#txtNome").prop("readonly", false);
				$("#txtSenha").prop("readonly", false);
				$("#txtConfirmaSenha").prop("readonly", false);
				$("#txtFoto").prop("disabled", false);
				
				$("#btnEdit").prop("disabled", true);
				$("#btnSalva").prop("disabled", false);
				$("#btnCancela").prop("disabled", false);
				
            });

			/* Volta os campos para a situação inicial */
            $("#btnCancela").click(function(){
				$("#txtNome").prop("value", usuarioLogado.nome);
				$("#txtSenha").prop("value", "");
				$("#txtConfirmaSenha").prop("value", "");
				
                
				$("#txtNome").prop("readonly", true);
				$("#txtSenha").prop("readonly", true);
				$("#txtConfirmaSenha").prop("readonly", true);
				$("#txtFoto").prop("disabled", true);
				
				$("#btnEdit").prop("disabled", false);
				$("#btnSalva").prop("disabled", true);
				$("#btnCancela").prop("disabled", true);
				
            });

            /* Salva as alterações */
            $("#btnSalva").click(function(){
				resposta = confirm("Tem certeza em alterar os dados?");
				if(resposta == true){
				}
            });
		});
		 //]]></script>

	<!-- Menu de navegação -->
	<nav class="navbar navbar-expand-lg navbar-light bg-primary rounded">

		<a class="navbar-brand h1 mb-0 icon icon-group" href="inicial"> FlashStudy </a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">

			<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link icon icon-calendar" href="cronograma" style="color: #383838"> Cronograma </a> 
				
				<a class="nav-item nav-link icon icon-refresh link" href="ciclo" style="color: #383838"> Ciclo de estudos </a>
					 
				<a class="nav-item nav-link icon icon-pushpin" href="flashcards" style="color: #383838"> Flashcards </a>
					 
				<a class="nav-item nav-link icon icon-user" href="perfil" style="color: #383838"> Perfil </a>
					 
				<a class="nav-item nav-link icon icon-question-sign" href="ajuda" style="color: #383838"> Ajuda </a>
					 
				<a class="nav-item nav-link icon icon-signout" href="usuario/sair" style="color: #383838"> Sair </a>

			</div>
		</div>
	</nav>

	<!-- Título da página -->
	<div class="title">
		<h2 class="icon icon-user" style="color: #cccccc">Perfil</h2>
		<span class="byline" style="color: #cccccc"> Verifique e edite os seus dados </span>
	</div>

	<!-- Container da página inteira -->
	<div class="container">
		
		<div class="row justify-content-center jumbotron">
		
			<div class="col-lg-5 col-md-7 col-sm-10 col-10">
				<img class="card-img-top" th:src="@{img/user-default.png}" alt="Card image"/>
			</div>
			
			<div class="col-lg-5 col-md-7 col-sm-10 col-10 jumbotron bg-secondary">
				<div class="form-group">
					<h4 class="card-title" style="color: white">Seus dados</h4>
    					
    					<!-- Nome -->
						<div class="input-group mb-3">
							<div class="input-group-prepend">
						    	<span class="input-group-text" id="basic-addon1">Nome </span>
						  	</div>
							<input type="text" class="form-control" aria-describedby="nome" readonly="readonly" id="txtNome"/>
						</div>
						
						<!-- Email -->
					    <div class="input-group mb-3">
							<div class="input-group-prepend">
						    	<span class="input-group-text" id="basic-addon1">Email </span>
						  	</div>
							<input type="text" class="form-control" aria-describedby="email" readonly="readonly" id="txtEmail"/>
						</div>
						
						<!-- Senha -->
					    <div class="input-group mb-3">
							<div class="input-group-prepend">
						    	<span class="input-group-text" id="basic-addon1">Senha </span>
						  	</div>
							<input type="password" class="form-control" aria-describedby="senha" readonly="readonly" id="txtSenha"/>
						</div>
						
						<!-- Confirma senha -->
					    <div class="input-group mb-3">
							<div class="input-group-prepend">
						    	<span class="input-group-text" id="basic-addon1">Confirma senha </span>
						  	</div>
							<input type="password" class="form-control" aria-describedby="confirma senha" readonly="readonly" id="txtConfirmaSenha"/>
						</div>
						
						<!-- Upload da foto -->
						<div class="input-group mb-3">
					  		<div class="input-group-prepend">
					    		<span class="input-group-text" id="inputGroupFileAddon01">Foto de perfil</span>
					  		</div>
					  		<div class="custom-file">
					    		<input type="file" class="custom-file-input" id="txtFoto" aria-describedby="foto" disabled="disabled"/>
					    		<label class="custom-file-label" for="foto">Fazer upload</label>
					  		</div>
						</div>
						
						<div class="row justify-content-center">
							<div class="col">
								<input type="button" class="btn btn-info" id="btnEdit" name="btnEdit" value="Editar dados"/>
							</div>
							
							<div class="col">
								<input type="button" class="btn btn-success" id="btnSalva" name="btnSalva" value="Salvar dados" disabled="disabled"/>
							</div>
							
							<div class="col">
								<input type="button" class="btn btn-danger" id="btnCancela" name="btnCancela" value="Cancelar" disabled="disabled"/>
							</div>
						</div>
						
						
				</div>
			</div>
		</div>
		
	</div>

	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Plugin JavaScript -->
	<script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>

	<!-- Contact Form JavaScript -->
	<script type="text/javascript" th:src="@{/js/jqBootstrapValidation.js}"></script>
	<script type="text/javascript" th:src="@{/js/contact_me.js}"></script>

	<!-- Custom scripts for this template -->
	<script type="text/javascript" th:src="@{/js/freelancer.min.js}"></script>

</body>
</html>