<!DOCTYPE html>

<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Flashstudy: Cronograma de Estudos</title>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/ico" />

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />

<!-- Custom fonts for this template -->
<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css" />
<link
	href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
	rel="stylesheet" type="text/css" />

<!-- Plugin CSS -->
<link th:href="@{/vendor/magnific-popup/magnific-popup.css}"
	rel="stylesheet" type="text/css" />

<!-- Custom styles for this template -->
<link type="text/css" th:href="@{/css/freelancer.min.css}"
	rel="stylesheet" />

<script th:src="@{/js/jquery.min.js}"></script>

<style type="text/css">
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	margin: 10px 5px;
}

th, td {
	text-align: center;
	padding: 16px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

tr:nth-child(odd) {
	background-color: #ffffff
}

body {
	background-color: #2C3E50;
}
</style>

<script type="text/javascript">
	$(document).ready(
			function() {
				$("#minicio").change(function() {
					if ($("#mfim").val() !== "") {
						$("#materia").prop("disabled", false);
					}
				});

				$("#mfim").change(function() {
					if ($("#minicio").val() !== "") {
						$("#materia").prop("disabled", false);
					}
				});

				$("#addMateria").click(
						function() {
							if ($("#materia").val() !== "") {
								$("#tblMaterias").append(
										"<tr><td>" + $("#materia").val()
												+ "</td></tr>");
								if ($("#materias").val() === "")
									$("#materias").val($("#materia").val());
								else
									$("#materias").val(
											$("#materias").val() + ";"
													+ $("#materia").val());
								$("#materia").val("");
							} else {
								alert("O campo está vazio!");
							}
						});

				$("#btnCancelar").click(function() {
					$("#tblMaterias").empty();
					$("#tblMaterias").append("<tr><th>Matérias</tr></th>");
				});

				$(".close").click(function() {
					$("#tblMaterias").empty();
					$("#tblMaterias").append("<tr><th>Matérias</tr></th>");
				});
			});
</script>
</head>

<body>

	<!-- Menu de navegação -->
	<nav class="navbar navbar-expand-lg navbar-light bg-primary rounded">
	
		<a 	class="navbar-brand h1 mb-0 icon icon-group"
			href="estudante-inicial.jsp">
			 FlashStudy
		</a>
		
		<button class="navbar-toggler" 
				type="button" 
				data-toggle="collapse"
				data-target="#navbarNavAltMarkup" 
				aria-controls="navbarNavAltMarkup"
				aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			
			<div class="navbar-nav ml-auto">
				<a 	class="nav-item nav-link icon icon-calendar"
					href="estudante-cronograma" 
					style="color: #383838">
					 Cronograma
				</a> 
				
				<a  class="nav-item nav-link icon icon-refresh link"
					href="estudante-ciclo"
					style="color: #383838">
					 Ciclo de estudos 
				</a>
				
				<a 	class="nav-item nav-link icon icon-pushpin"
					href="estudante-flashcards" 
					style="color: #383838">
					 Flashcards 
				</a>
				
				<a 	class="nav-item nav-link icon icon-user"
					href="estudante-perfil" 
					style="color: #383838">
					 Perfil 
				</a> 
				
				<a	class="nav-item nav-link icon icon-question-sign"
					href="estudante-ajuda"
					style="color: #383838">
					 Ajuda 
				</a> 
				
				<a	class="nav-item nav-link icon icon-signout"
					href="usuario/sair"
					style="color: #383838">
					 Sair 
				</a>
			
			</div>
		</div>
	</nav>

	<!-- Título da página -->
	<div class="title">
		<h2 class="icon icon-calendar" style="color: #cccccc">Cronograma</h2>
		<span class="byline" style="color: #cccccc">
			Calendário com todos os seus planejamentos
		</span>
	</div>

	<!-- Container da página toda -->
	<div class="container-fluid">
	
	</div>
	
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Plugin JavaScript -->
	<script type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>

	<!-- Contact Form JavaScript -->
	<script type="text/javascript" th:src="@{/js/jqBootstrapValidation.js}"></script>
	<script type="text/javascript" th:src="@{/js/contact_me.js}"></script>

	<!-- Custom scripts for this template -->
	<script type="text/javascript" th:src="@{/js/freelancer.min.js}"></script>
</body>
</html>